* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: antiquewhite;
    background-color: wheat;
    background-repeat: no-repeat;
    background-position: 100%;
    background-size: cover;
    margin: 0;
    padding: 0;
}

header {
    background-color: black;
    display: flex;
    padding: 20px 60px;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    z-index: 100;
    font-size: 30px;
    color: cornsilk;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.dee {
    font-size: 10px;
    font-style: oblique;
    color: bisque;
    margin-right: 70px;
}


.navbar {
    height: 50px;
    background-color: black;
    display: flex;
    align-items: center;
}

.navbar ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar ul li {
    margin-left: 25px;
}

.navbar ul li a {
    float: left;
    font-weight: bold;
    font-size: 19;
    transition: 0.4 ease;
}

.navbar a:hover {
    background-color: brown;
}

.navbar a {
    display: inline;
    text-decoration: none;
    color: gray;
    font-size: 15px;
    padding: 15px;
    float: left;
}

.search {
    position: relative;
}

.search input {
    padding: 10px;
    border: none;
    border-radius: 20px;
    background-color: whitesmoke;
    color: black;
}

.search button {
    bottom: 0;
    position: absolute;
    padding: 10px;
    border-radius: none;
    border-radius: 20px;
    background-color: white;
    color: black;
    font-weight: bold;
    transition: 0.4 ease;
}

.dog {
    color: bisque;
    text-align: center;
    font-size: 60px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: oblique;
    margin-top: 30px;
}

p {
    font-size: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
    margin-top: 40px;
}

.footercontainer {
    width: 100%;
    padding: 50px 10px 5px;
}

.socialicons {
    display: flex;
    justify-content: center;
}

.socialicons a {
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 30%;
}

.socialicons a i {
    font-size: 2em;
    color: black;
    opacity: 0.9;
}

.socialicons a :hover {
    background-color: gray;
    transition: 0.5s;
}

.socialicons a :hover i {
    color: white;
    transition: 0.5s;
}

.footernav {
    margin: 30px 0;
}

.footernav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.footernav ul li a {
    color: white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5;
    text-align: center;
}

.footernav ul li a:hover {
    opacity: 1;
}

.footerbottom {
    background-color: black;
    padding: 5px;
    text-align: center;
}

.footerbottom p {
    color: white;
    font-size: 20px;
    background-color: black;

}

.designer {
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}

@media(max-width: 700px) {
    .footernav {
        flex-direction: column;
    }

    .footernav ul li {
        width: 100%;
        text-align: center;
        margin: 10px;
    }
}
