* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: brown;
    background-size: cover;
    background-position: 100%;
}

header {
    background-color: black;
    display: flex;
    padding: 20px 60px;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    z-index: 100;
    font-size: 30px;
    color: cornsilk;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.dee {
    font-size: 10px;
    font-style: oblique;
    color: bisque;
    margin-right: 70px;
}


.navbar {
    height: 50px;
    background-color: black;
    display: flex;
    align-items: center;
}

.navbar ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar ul li {
    margin-left: 25px;
}

.navbar ul li a {
    float: left;
    font-weight: bold;
    font-size: 19;
    transition: 0.4 ease;
}

.navbar a:hover {
    background-color: brown;
}

.navbar a {
    display: inline;
    text-decoration: none;
    color: gray;
    font-size: 15px;
    padding: 15px;
    float: left;
}

.search {
    position: relative;
}

.search input {
    padding: 10px;
    border: none;
    border-radius: 20px;
    background-color: whitesmoke;
    color: black;
}

.search button {
    bottom: 0;
    position: absolute;
    padding: 10px;
    border-radius: none;
    border-radius: 20px;
    background-color: white;
    color: black;
    font-weight: bold;
    transition: 0.4 ease;
}

.contact {
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact content {
    max-width: 800px;
    text-align: center;
}

.contact .content h2 {
    font-size: 45px;
    font-weight: 500;
    color: bisque;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.contact .content p {
    font-weight: 300;
    color: white;
    font-size: 20px;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .contactinfo .box .icon {
    min-width: 60px;
    width: 10px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    font-size: 22px;
    background-color: white;
}

.container .contactinfo .box .text {
    display: flex;
    margin-left: 20px;
    font-size: 17px;
    color: bisque;
    flex-direction: column;
    font-weight: 300;
}

.container .contactinfo .box .text h3 {
    font-weight: 500;
    color: white;
}

.contactform {
    width: 100%;
    padding: 40px;
    background: white;
}

.contactform h2 {
    font-size: 25px;
    color: #111;
    font-weight: 500;
}

.contactform .inputbox {
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.contactform .inputbox input {
    padding: 5px 0;
    font-size: 16px;
    border: none;
    border-bottom: 2px solid #111;
    outline: none;
}

.contactform .inputbox input[type="submit"] {
    width: 100px;
    background: midnightblue;
    color: white;
    cursor: pointer;
    border: none;
    font-size: 18px;
    padding: 10px;
}

.end .p {
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: bisque;
    margin-top: 40px;
}

.footercontainer {
    width: 100%;
    padding: 50px 10px 5px;
}

.socialicons {
    display: flex;
    justify-content: center;
}

.socialicons a {
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 30%;
}

.socialicons a i {
    font-size: 2em;
    color: black;
    opacity: 0.9;
}

.socialicons a :hover {
    background-color: gray;
    transition: 0.5s;
}

.socialicons a :hover i {
    color: white;
    transition: 0.5s;
}

.footernav {
    margin: 30px 0;
}

.footernav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.footernav ul li a {
    color: white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5;
    text-align: center;
}

.footernav ul li a:hover {
    opacity: 1;
}

.footerbottom {
    background-color: black;
    padding: 5px;
    text-align: center;
}

.footerbottom p {
    color: white;
    font-size: 20px;
    background-color: black;

}

.designer {
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}

@media (max-width:991px) {
    .contact {
        padding: 50px;
    }

    .container {
        flex-direction: column;
    }

    .contactinfo {
        margin-bottom: 40px;
        width: 100%;
    }
}
